<footer>
  <div class="container-fluid main-cont">
    <div class="row"  >
      <div class="col-lg-4" style="background: white; min-height: 115px">
        <p class="text-center">ЮРИДИЧЕСКИЙ АДРЕСС<br>
          601966, Россия, Владимирская<br>
          область, Ковровский район, поселок<br>
          Мелехово,<br>
          улица Первомайская, 92</p>
      </div>

      <div class="col-lg-4 inner" style="background: white; min-height: 115px">
        <p class="text-center">ГРАФИК РАБОТЫ<br>
        <ul>
          ежедневно по рабочим дням<br>
          с 8:00 до 17:00<br>
          Отгрузка готовой продукции осуществляется <b>до 23:00</b>
        </ul>
        </p>
      </div>

      <div class="col-lg-4 inner " style="background: white; min-height: 115px">
        <p class="text-center">КОНТАКТЫ<br>
          Телефон: (49232) 7-86-75<br>
          Факс: (49232) 7-83-74<br>
          E-mail: info@kovrovskoe.ru</p>
      </div>
    </div>
  </div>
</footer>