<footer>
  <div class="footer">
    <div class="container">
      <div class="footer-grids">

        <div class="col-md-4 recent-posts">
          <h4 class="text-center" >Адресс</h4>
          <div class="recent-posts-text">
            <p class="text-center">
              601966, Россия, Владимирская<br>
              область, Ковровский район,
              Мелехово,<br>
              улица Первомайская, 92</p>
          </div>
        </div>

        <div class="col-md-4 recent-posts">
          <h4>ГРАФИК РАБОТЫ</h4>
          <div class="recent-posts-text">
            <p>
              Ежедневно по рабочим дням с 8:00 до 17:00<br>
              Отгрузка готовой продукции осуществляется до 23:00
            </p>
          </div>
        </div>

        <div class="col-md-4 recent-posts">
          <h4  class="text-center">КОНТАКТЫ</h4>
          <div class="recent-posts-text">
            <p class="text-center">
              Телефон: (49232) 7-86-75<br>
              Факс: (49232) 7-83-74<br>
              E-mail: info@kovrovskoe.ru</p>
        </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>

</footer>



