<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Получить консультацию</h4>
			</div>
			<div class="modal-body">
				<p>Укажите свой номер телефона и наши специалисты свяжутся с Вами.</p>
				<input type="text" class="form-control" placeholder="Введите сюда свой номер телефона" id="phone">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" id="phonebtn" data-dismiss="modal">Подтвердить</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>

			</div>
		</div>

	</div>
</div>

<nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0px; background: white;">
	<div class="container-fluid">
		<div class="row">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header" >
				<a class="navbar-brand" style="padding-top: 5px; background: white;"  href="/" ><img src="img/kku-logo.png"  ></a>
			</div>

			<div class="col-lg-4" style="background: white; min-height: 50px">
				<p class="text-center">Известняковый щебень от производителя<br>с доставкой по Владимирской области</p>
			</div>

			<div class="col-lg-2" style="background: white; min-height: 50px">
				<p class="text-center inner">+7 (919) 000 8 000</p>
			</div>

			<div class="col-lg-2" style="background: white; min-height: 50px">
				<p class="text-center inner" >sales@kovrovskoe.ru</p>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li  style="color: white; background: white; vertical-align: middle; padding: 5% 0;  margin: 0 10px;">
					<button type="button" class="btn btn-success " data-toggle="modal" data-target="#myModal" >Заказать звонок!</button>
				</li>
			</ul>
		</div>
	</div>
</nav>