
<div class="header">
	<div class="banner-top">
		<div class="container">
			<div class="col-md-3">
				<a  href="/" ><img src="img/kku-logo.png"  ></a>
			</div>

			<div class="col-md-3 ">

				<p class="location"><i class="glyphicon glyphicon-phone-alt"> </i>+7 (919) 000 8 000</p>
			</div>
			<div class="col-md-3 ">
				<p class="location"><i class="glyphicon glyphicon-envelope"> </i>sales@kovrovskoe.ru</p>
			</div>
			<div class="col-md-3 ">
				<a href="/contact" class="hvr-shutter-in-horizontal">Заказать звонок</a>

			</div>
		</div>
	</div>

</div>