<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	    <title><%= title %></title>

	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">


		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv = "Content-Type" content="text/html; charset=utf-8">


		<link rel="stylesheet" type="text/css" href="/styles/component.css"/>
		<!--css-->
		<link href="/styles/bootstrap.css" type="text/css" rel="stylesheet" >
		<!--coustom css-->
		<link href="/styles/styleNew.css" type="text/css" rel="stylesheet">
		<link href="/styles/lightbox.css" type="text/css" rel="stylesheet">



		<!--bootstrap-js-->
	</head>
	<body>