<head>

    <% include ./partials/header %>

    <link rel="stylesheet" type="text/css" href="/styles/component.css"/>
    <!--css-->
    <link href="/styles/bootstrap.css" type="text/css" rel="stylesheet" >
    <!--coustom css-->
    <link href="/styles/styleNew.css" type="text/css" rel="stylesheet">
    <!--bootstrap-js-->

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/scripts/move-top.js"></script>
    <script type="text/javascript" src="/scripts/easing.js"></script>
    <script src="/scripts/modernizr.custom.js"></script>
    <!--/script-->
    <script src="/scripts/calculatemodule.js"></script>
    <script src="/scripts/storagemodule.js"></script>

    <!-- скрипт нужен чтобы получать текущий IP-->
    <script type="text/javascript"
            src="http://ip-jobs.staff-base.spb.ru/ip.cgi"></script>

    <script >
        $(document).ready(function() {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
            });
        });
    </script>
</head>


<script>
    $(document).ready(function () {

        $('.step').click(function () {

            $(this).parent( '.sub-text').find('.contains').fadeToggle("slow");


        })

    })

</script>



<div class="banner banner5">
    <div class="container">
        <h2 >Оформление заказа</h2>
    </div>
</div>


<div class="camps ">
    <div class="container">
        <h2 class="heading">Известняковый щебень фракции 5-20 мм для возведения фундамента</h2>
        <div class="cam-top-top">
            <div class="col-md-7 cam-top">
                <iframe src="https://www.youtube.com/embed/IQCnG3sstN8" allowfullscreen></iframe>
            </div>
            <div class="col-md-5 cam-top-text">
                <div class="sub-cam-top">

                    <div class="col-md-12 sub-text">
                        <a class = "step">Шаг 1: Выберите тип фундамента:</a>
                       <div class =  "contains" hidden>
                           <div class="radio" >
                               <label><input type="radio" name="optradio" value="monolit" checked="checked">Монолитный</label>
                           </div>
                           <div class="radio">
                               <label><input type="radio" name="optradio" value="tape">Ленточный</label>
                           </div>
                           <div class="radio">
                               <label><input type="radio" name="optradio" value="rost" >Ростверковый фундамент</label>
                           </div>
                       </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sub-cam-top">

                    <div class="col-md-12 sub-text">
                        <a class = "step">Шаг 2: Введите размеры фундамента:</a>
                        <div class =  "contains" hidden>
                            <div class ="container-fluid ">

                                <div class = "row reflist-item " >
                                    <div class="col-lg-3">
                                        <label for="length">Длина, см</label>
                                    </div>
                                    <div class = "col-lg-9">
                                        <input type="text"  class="coolInput" name="dem"  id="length">
                                    </div>
                                </div>

                                <div class = "row reflist-item" >
                                    <div class="col-lg-3">
                                        <label for="width">Ширина, cм</label>
                                    </div>
                                    <div class = "col-lg-9">
                                        <input type="text" name="dem" class="coolInput" id="width">
                                    </div>
                                </div>

                                <div class = "row reflist-item" >
                                    <div class="col-lg-3">
                                        <label for="height">Высота, cм</label>
                                    </div>
                                    <div class = "col-lg-9">
                                        <input type="text" name="dem" class="coolInput" id="height">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sub-cam-top">

                    <div class="col-md-12 sub-text">
                        <a class = "step">Шаг 3: Подтвердите свой выбор:</a>
                        <div class =  "contains" hidden>
                            <div class ="container-fluid ">
                                <div class = "row reflist-item" >
                                    <div class="col-lg-3">
                                        <label  for="inputError">Всего, т</label>
                                    </div>
                                    <div class = "col-lg-9">
                                        <div class="form-group has-error" id="resForm">
                                            <input type="text" class = "coolInput"  id="result" style = "margin-bottom: 0px">
                                            <label class="control-label" for="result" id="resultHelp">Вы не ввели размеры! Вернитесь на Шаг 2.</label>
                                        </div>
                                    </div>
                                    <div class = "col-lg-12" style="text-align:center" >
                                        <a href="/shipment" class="hvr-shutter-in-horizontal">Переидти к оплате</a>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>

                    <div class="clearfix"> </div>
                </div>

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>


<script>
    $('input[name=dem]').change(function() {

        if( $("#length").val()!=0 && $("#width").val()!=0 && $("#height").val()!=0 ){
            if( $("#resForm").hasClass('has-error'))
            {
                $("#resForm").toggleClass('has-error has-success');
                $("#resultHelp").hide();
            }
            calcFun();
        }});
</script>

<% include ./partials/footer %>

<% include ./partials/foot %>