<!DOCTYPE HTML>
<html>
<head>
    <title>Power Tech | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv = "Content-Type" content="text/html; charset=utf-8">



    <link rel="stylesheet" type="text/css" href="/styles/component.css"/>
    <!--css-->
    <link href="/styles/bootstrap.css" type="text/css" rel="stylesheet" >
    <!--coustom css-->
    <link href="/styles/styleNew.css" type="text/css" rel="stylesheet">
<!--bootstrap-js-->

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/scripts/move-top.js"></script>
    <script type="text/javascript" src="/scripts/easing.js"></script>
    <script src="/scripts/modernizr.custom.js"></script>
    <!--/script-->
    <script >
        $(document).ready(function() {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
            });
        });
    </script>
</head>
<body>
<div class="header">
    <div class="banner-top">
        <div class="container">
            <p class="location"><i class="glyphicon glyphicon-map-marker"> </i>18A, Polo Street (Yellow Door)</p>
            <div class="social-icons">
                <ul>
                    <li><a href="#"><i class="facebook"> </i></a></li>
                    <li><a href="#"><i class="twitter"> </i></a></li>
                    <li><a href="#"><i class="vimeo"> </i></a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="logo"><a href="/"><h1>Power-Tech</h1></a> </div>
</div>
</body>
</html>