<% include ./partials/head %>
<% include ./partials/common_scripts %>
<% include ./partials/header %>


<!--top banner-->
<div class="banner">
  <div class="container">
    <h2 class="main-heading">Ковровское<br /> Карьероуправление </h2>
  </div>
</div>
<!--top banner-->


<!--welcome-->
<div class="welcome">
  <div class="container">
    <div class="cam-top-top">
      <div class="col-md-6 cam-top">
        <iframe src="https://www.youtube.com/embed/IQCnG3sstN8" allowfullscreen style=" width: 500px; height: 300px;"></iframe>
      </div>
    </div>
    <div class="col-md-6 wel-text">
      <h3>Добро пожаловать в наш магазин!</h3>
      <p>Мы занимаемся добычей и продажей известнякового щебня с доставкой по Владимирской области.
        Продаем известняковый щебень для строительных работ и благоустройства территорий по самым доступным ценам, точно в срок, с гарантией качества и соответсвия заказанному объему продукции.

        Доставка осуществляется собственным автотранспортом предприятия и транспортом заказчика.</p>
      <a href="http://kovrovskoe.ru/" class="hvr-shutter-in-horizontal">Больше о нас</a>
    </div>
  </div>
</div>
<!--/welcome-->


<div class="specialty-grids">
  <div class="container">
    <div class="specialty-grids-top">
      <div class="col-md-4 service-box">
        <figure class="icon">
          <i class="glyphicon glyphicon-ruble"></i>
        </figure>
        <h5>Стоимость</h5>
        <p>Доставка на прямую от производителей выходит дешевле чем у компаний перекупщиков</p>
      </div>
      <div class="col-md-4 service-box ">
        <figure class="icon">
          <i class="glyphicon glyphicon-scale"></i>
        </figure>
        <h5>Точность объемов</h5>
        <p>Обеспечиваем соответсвие оплачиваемого объема за счет весового контроля перед загрузкой</p>
      </div>
      <div class="col-md-4 service-box">
        <figure class="icon">
          <i class="glyphicon glyphicon-shopping-cart"></i>
        </figure>
        <h5>Доставка и оплата</h5>
        <p>Мы доставим щебень в удобное для вас время и место. Возможен наличный и безналичный расчет</p>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>

<h2 class="heading">Для чего Вам нужен щебень?</h2>

<!--animation-grids-->
<div class="animate-grid">
  <div class="container">
    <ul class="grid cs-style-6">
      <li>
        <figure>
          <img src="images/1.jpg" alt="img01">
          <figcaption>
            <h3>Фундамент</h3>
            <span>Щебень для засыпки фундамента</span>
            <a href="/foundation" class="more">Выбрать</a>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="/img/tmp/parking.png" alt="img05">
          <figcaption>
            <h3>Засыпка парковочного места</h3>
            <span>Засыпка парковочного места</span>
            <a  style="" href="/parking" class="more">Выбрать</a>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="/img/tmp/dorotsypka.jpg" alt="img03">
          <figcaption>
            <h3>Отсыпка проселочных дорог</h3>
            <span>Отсыпка проселочных дорог</span>
            <a href="/road" class="more">Выбрать</a>
          </figcaption>
        </figure>
      </li>

    </ul>
    <script src="script/toucheffects.js"></script>
  </div>
</div>
<!--/animation-grids-->

<!--news-->

  <script type="text/javascript">
      $(document).ready(function() {

         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };

          $().UItoTop({ easingType: 'easeOutQuart' });
      });
  </script>
  <a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
  <!---->
</div>


  <% include ./partials/footer %>

<% include ./partials/foot %>
