<% include ./partials/head %>
<% include ./partials/header %>

	<div class="container-notfound">
		<div class="code">202 * 2 = 404</div>
		<div class="message">Страница не найдена :(</div>
	</div>	

<% include ./partials/footer %>
<% include ./partials/foot %>