<head>

    <% include ./partials/header %>

    <link rel="stylesheet" type="text/css" href="/styles/component.css"/>
    <!--css-->
    <link href="/styles/bootstrap.css" type="text/css" rel="stylesheet" >
    <!--coustom css-->
    <link href="/styles/styleNew.css" type="text/css" rel="stylesheet">
    <!--bootstrap-js-->

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/scripts/move-top.js"></script>
    <script type="text/javascript" src="/scripts/easing.js"></script>
    <script src="/scripts/modernizr.custom.js"></script>
    <!--/script-->
    <script src="/scripts/calculatemodule.js"></script>
    <script src="/scripts/storagemodule.js"></script>

    <!-- скрипт нужен чтобы получать текущий IP-->
    <script type="text/javascript"
            src="http://ip-jobs.staff-base.spb.ru/ip.cgi"></script>

    <script >
        $(document).ready(function() {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
            });
        });
    </script>
</head>


<script>
    $(document).ready(function () {

        $('.step').click(function () {

            $(this).parent( '.sub-text').find('.contains').fadeToggle("slow");


        })

    })

</script>


<div class="navigation">
    <div class="container">
        <div class="header-nav">
            <!-- navigation -->
            <div class="navigation">		<nav class="navbar navbar-default">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="hvr-bounce-to-bottom "><a href="/">Главная </a></li>
                            <li class="hvr-bounce-to-bottom active"><a href="">Расчет объема<span class="sr-only">(current)</span></a></li>
                            <li class="hvr-bounce-to-bottom"><a href="/shipment">Доставки и выбор фасовки</a></li>
                            <li class="hvr-bounce-to-bottom"><a href="gallery.html">Оплата</a></li>

                        </ul>
                        <div class="clearfix"></div>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
        <!-- //navigation -->


        <!-- script-for-menu -->
        <script>
            $("span.menu").click(function(){
                $(".top-nav ul").slideToggle("slow" , function(){
                });
            });
        </script>
        <!-- script-for-menu -->
    </div>
</div>



<div class="banner banner5">
    <div class="container">
        <h2 >Оформление заказа</h2>
    </div>
</div>


<div class="camps ">
    <div class="container">
        <h2 class="heading">Известняковый щебень фракции 20-40 мм для отсыпки парковочного места</h2>
        <div class="cam-top-top">
            <div class="col-md-7 cam-top">
                <iframe src="https://www.youtube.com/embed/IQCnG3sstN8" allowfullscreen></iframe>
            </div>
            <div class="col-md-5 cam-top-text">

                <div class="sub-cam-top">

                    <div class="col-md-12 sub-text">
                        <a class = "step">Шаг 1: Введите размеры парковочного места:</a>
                        <div class =  "contains" hidden>
                            <div class ="container-fluid ">

                                <div class = "row reflist-item " >
                                    <div class="col-lg-3">
                                        <label for="length">Длина, мм</label>
                                    </div>
                                    <div class = "col-lg-9">
                                        <input type="text"  class="coolInput" name="dem"  id="length">
                                    </div>
                                </div>

                                <div class = "row reflist-item" >
                                    <div class="col-lg-3">
                                        <label for="width">Ширина, мм</label>
                                    </div>
                                    <div class = "col-lg-9">
                                        <input type="text" name="dem" class="coolInput" id="width">
                                    </div>
                                </div>

                                <div class = "row reflist-item" >
                                    <div class="col-lg-3">
                                        <label for="height">Высота, мм</label>
                                    </div>
                                    <div class = "col-lg-9">
                                        <input type="text" name="dem" class="coolInput" id="height">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sub-cam-top">

                    <div class="col-md-12 sub-text">
                        <a class = "step">Шаг 2: Подтвердите свой выбор:</a>
                        <div class =  "contains" hidden>
                            <div class ="container-fluid ">
                                <div class = "row reflist-item" >
                                    <div class="col-lg-3">
                                        <label  for="inputError">Необходимый объем щебня, т</label>
                                    </div>
                                    <div class = "col-lg-9">
                                        <div class="form-group has-error" id="resForm">
                                            <input type="text" class = "coolInput"  id="result" style = "margin-bottom: 0px">
                                            <label class="control-label" for="result" id="resultHelp">Вы не ввели размеры! Вернитесь на Шаг 2.</label>
                                        </div>
                                    </div>
                                    <div class = "col-lg-12" style="text-align:center" >
                                        <a href="/shipment" class="hvr-shutter-in-horizontal">Перейдти к оплате</a>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>

                    <div class="clearfix"> </div>
                </div>

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>


<script>
    $('input[name=dem]').change(function() {

        if( $("#length").val()!=0 && $("#width").val()!=0 && $("#height").val()!=0 ){
            if( $("#resForm").hasClass('has-error'))
            {
                $("#resForm").toggleClass('has-error has-success');
                $("#resultHelp").hide();
            }
            calcRoad();
        }});
</script>

<% include ./partials/footer %>

<% include ./partials/foot %>